<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .table.is-hoverable td {
            padding: 0;
        }

        .table.is-hoverable a {
            display: block;
            padding: 0.5em 0.75em;
        }
    </style>
</head>
<body>
<div class="container is-max-desktop">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <a href="/admin">Home</a>
            </div>
        </div>

        <div class="level-right">
            <a class="level-item" href="/admin/docs" target="_blank">Docs</a>
            <a class="level-item" href="/admin/tables">Database</a>
        </div>
    </nav>
</div>
