node_modules
coverage
temp
.out
tmp
documentation
.github
.husky
.env.dist
.eslintrc.cjs
.gitignore
docker-compose.yml
jest.config.ts
jest.setup.ts
lint-staged.config.cjs
README.md
stryker.conf.mjs
.idea
.DS_Store
.git