<%- include("partials/head.ejs", { title: title }) %>

<div class="container is-max-desktop">
    <h1 class="is-size-1">Tables</h1>

    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <% tables.forEach(table => { %>
                <tr>
                    <td>
                        <a href="/admin/tables/get/<%= table.className %>"><%= table.className %></a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
